@page "/"
@using Frontend.Components.Layout

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn" @onclick="ShowToast">Show Toast</button>
<button class="btn" @onclick="ShowSucces">Show Succes</button>
<button class="btn" @onclick="ShowError">Show error</button>
<button class="btn" @onclick="ShowWarning">Show Warning</button>
<button class="btn" @onclick="ShowLoading">Show Loading</button>
@code{
    [CascadingParameter] public MainLayout? Layout { get; set; }

    private void ShowToast()
    {
        Layout?.ShowToast("This is a toast notification!", MainLayout.ToastType.Info, "Thông báo", 40000);
    }

    private void ShowSucces()
    {
        Layout?.ShowSuccess("This is a toast succes");
    }

    private void ShowError()
    {
        Layout?.ShowError("This is a toast error");
    }

    private void ShowWarning()
    {
        Layout?.ShowWarning("This is a toast warning");
    }



    private async void ShowLoading()
    {
        Layout?.ShowLoading();
        await Task.Delay(50000); // Simulate a long-running task
        Layout?.HideLoading();
    }
}